* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}
#logo {
	position: fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-image: url('https://raw.githubusercontent.com/ethus3h/wreathe-backgrounds/master/Backgrounds/DSCN8100.JPG');
	background-size: cover;
}
body {
	overflow: hidden;
}
#main-container {
	display: flex;
	flex-direction: column;
}
#other-projects {
	display: flex;
	flex-direction: column-reverse;
}
#description-container > ::before {
	position: fixed;
	color: white;
	width: calc(50vw - 0.5rem);
	background-color: rgba(195,83,229,0.9);
	height: 3rem;
	font-size: 3rem;
	opacity: 1;
	text-align: center;
	top: 0;
	transition: all 0.2s ease-in-out;
	border-right: 0.5rem solid rgba(65,105,225,0.9);
}
#description-container > :nth-child(1):not(:hover)::before, #description-container > :nth-child(2):not(:hover)::before {
	background-color: rgba(195,83,229,1);
}
#description-container > :nth-child(1)::before {
	content: 'Flexbox';
	left:50vw;
}
#description-container > :nth-child(2)::before {
	content: 'Pseudo-elements';
}
